PORT=5000
NODE_ENV=development
MONGO_URI=tu_cadena_de_mongodb_atlas
JWT_SECRET=pon_aqui_una_clave_larga_y_aleatoria
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ODDS_API_KEY=tu_api_key_de_the_odds_api
INITIAL_BALANCE=0